# Pandas 
## Criando, Lendo e Escrevendo
Transcrição do tutorial 01 do kaggle.

In [1]:
import pandas as pd # importando a biblioteca pandas com o alias de pd

In [6]:
"""
As principais entidades da biblioteca pandas são os DataFrames e as Series
DataFrame funciona como se fosse uma tabela, na qual temos colunas e linhas 
no exemplo abaixo temos o titulo de cada coluna como o id de um dictionary
e seus values funcionam como se foessem o valor de cada linha.
"""
df = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
df

   Yes   No
0   50  131
1   21    2

In [8]:
"""
Os DataFrames não tem limitação ao tipo de dado que será recebido em cada um
funcionamo como listas em python
no exemplo abaixo temos as entradas como se fossem strings.
"""
df1 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
df1

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [10]:
"""
Vimos que o construtor em forma de dicionarios assumimos que os
ids são os rotulos das colunas e seus valores são as enradas de cada linha
e assim as linhas recebem os rótulos padronizados, quando não declarados, seguindo
a sequencia (0, 1, 2 ,3...)
Para adicionar os rotulos das linhas da tablea utiizamos a propriedade
index=['rowlabel1', 'rowlabel2']
"""
df2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}, index=['Product A', 'Product B'])
df2

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [11]:
"""
Series são uuma sequencia de dados, se um DataFrame é considerado uma tablea
a Series é uma lista, você pode criar uma utilizando uma lista inclusive
"""
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
"""
Series em sua essência é uma coluna de um DataFrame, sendo assim você pode adicionar
rotulos para as linhas assim como com os DataFrames utilizando a propriedade index
porém as series não tem rotulo na coluna, só tem o um nome do objeto em si.
"""
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [22]:
"""
Criar um DataFrame na mão adicionando dado por dado é muito trabalhoso
podemos utilizar a importação de alguns tipos de arquivos, como por exemplo um .csv .xls entre oturs.
"""

vine_reviews = pd.read_csv('winemag-data-130k-v2.csv')
vine_reviews.shape # a função shape retorna o número de (linhas, colunas)

(129971, 14)

In [23]:
vine_reviews.head() # o methodo head() nos retornas as primeiras 5 linhas do DataFrame

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [25]:
"""
pd.read_csv() tem mais de 30 parametros opcionais, 
como visto no DataFrame acima podemos perceber que foi criada uma nova coluna com os index
de cada linha mesmo o .csv já possuindo esta coluna, podemos especificar qual vai ser a coluna de referencia
através da propriedade index_col
"""
vine_reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
vine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [26]:
# df.to_csv('path/archive.csv') salva o DataFrame em forma de CSV

In [28]:
"""
Acessando colunas através de seus indexes
"""
vine_reviews.country

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [29]:
vine_reviews['country']

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [32]:
# podemos acessar de ambas as formas uutilizando como se fosse uma função/metodo ou como se fossse uum elemento de uma lista
# ainda podemos acessar a coluna e linha para acessar o dado exato
vine_reviews.country[0]
# ou
vine_reviews['country'][1]

'Portugal'